 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body, .card-primary{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #6d6a6a;
    color:black;
    text-align: center;
    padding: 1em 0;
} 
.card-secondary{
    background-color: #72a572;
}
.card-footer{
    color:white;
}